---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
const response = await fetch('https://swapi.dev/api/people');
const data = await response.json();
const characters = data.results;
---
<Layout>
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Characters</h1>
        <div class="py-6">
          <ul>
            {characters.map(({name}) => (
              <li>{name}</li>
            ))}
          </ul>
        </div>
      </div>
    </div>
  </div>
</Layout>